

#headH1 {
  flex-grow: 1;
  cursor : pointer;
  display: inline-block;
  vertical-align: middle;
  color: white;
  margin: 0.5rem;
  padding: 0;
}

#headNav{
  display: inline-block;
  vertical-align: middle;
}

#headUl {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.headLi.icon {
  flex-basis: 25%;
}

#headHeader {
  
  display: flex; 
  background: #3c6fc4;
  padding: 20px;
}

.headAtag {
  display: block;
  text-align: center;
  margin: .25rem;
  padding: .5rem 1rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #203660;
}

.headAtag:hover {
  background: #6b6b6b;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
